@model MedEasy.Web.ViewModels.AddressViewModel


<div class="form-group">
    <label asp-for="Street" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="Street" class="form-control" placeholder="Rue" />
        <span asp-validation-for="Street" class="text-danger" />
    </div>
</div>
<div class="form-group">
    <label asp-for="City" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="City" class="form-control" />
        <span asp-validation-for="City" class="text-danger" />
    </div>
</div>

<div class="form-group">
    <label asp-for="ZipCode" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="ZipCode" class="form-control col-md-10" />
        <span asp-validation-for="ZipCode" class="text-danger" />
    </div>
</div>

<div class="form-group">
    <label asp-for="Country" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="Country" class="form-control" />
        <span asp-validation-for="Country" class="text-danger" />
    </div>
</div>