@using MedEasy.Controllers;
@using MedEasy.DTO;
@using MedEasy.RestObjects

@{
    ViewData["Title"] = "Liste des médecins";

    IKendoDataSource dataSource = new KendoRemoteDataSource {
        Page = 1,
        PageSize = 20,
        DataSchema = new KendoSchema
        {
            Data = nameof(GenericPagedGetResponse<DoctorInfo>.Items),
            Type = SchemaType.Json,
            Total = nameof(GenericPagedGetResponse<DoctorInfo>.Count)
        },
        Transport = new KendoTransport
        {
            Read = new KendoTransportOperation
            {
                Cache = false,
                Type = "GET",
                Url = Url.Action(nameof(DoctorsController.GetAll), DoctorsController.ControllerName)
            }
        }
    };

    IEnumerable<ColumnValues> specialtiesValues = ((IEnumerable<SpecialtyInfo>)ViewBag.Specialties)
        .Select(item => new ColumnValues(item.Id, $"{item.Name} ({item.Code})"))
        .ToList();
    IEnumerable<KendoGridColumnBase> columns = new KendoGridColumnBase[]
    {
        new KendoGridFieldColumn { Title = "Fullname",
            Columns = new [] {
                new KendoGridFieldColumn { Field = nameof(DoctorInfo.Firstname) },
                new KendoGridFieldColumn { Field = nameof(DoctorInfo.Lastname) }
            }
        },
        new KendoGridFieldColumn {
            Field = nameof(DoctorInfo.SpecialtyId),
            Values = specialtiesValues,
            Title = "Spécialité"
        }

    };
}

<h2>@ViewData["Title"]</h2>
<div class="container-fluid">
    <div class="row">
        <a asp-action="@nameof(DoctorController.Create)" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nouveau
        </a>
    </div>
    <div class="row">
        <kendo-grid asp-data-columns="columns" asp-data-source="dataSource" data-height="320" />
    </div>
</div>

    
