@model MedEasy.ViewModels.Specialty.SpecialtyCreateModel
@using MedEasy.Controllers;

@{
    ViewData["Title"] = "Modifier la spécialité";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="@nameof(SpecialtyController.Edit)">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <fieldset>
            <legend>Identité</legend>
            <div class="form-group">
                <label asp-for="Code" class="col-md-2 control-label"></label>
                <div class="col-md-4">
                    <input asp-for="Code" class="form-control focus" />
                    <span asp-validation-for="Code" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="col-md-2 control-label"></label>
                <div class="col-md-4">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger" />
                </div>
            </div>
        </fieldset>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-ok"></span> Enregistrer
                </button>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="@nameof(SpecialtyController.Index)">Back to List</a>
</div>

@section Scripts {
<environment names="Development">

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/ts/extensions/string.js"></script>

</environment>
<environment names="Staging, Production">

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</environment>

    <script>
        $(document).ready(function () {
            $("#Name").change(function () {
                var currentVal = $(this).val();
                $(this).val(currentVal.toProperCase());
            });

            $("#Code").change(function () {
                var currentVal = $(this).val();
                $(this).val(currentVal.toUpperCase());
            });
        })
    </script>
}
