@using MedEasy.Web.Controllers;
@using MedEasy.Objects;

@{
    ViewData["Title"] = "Index";

    IKendoDataSource dataSource = new KendoRemoteDataSource
    {
        Page = 1,
        PageSize = 10,
        DataSchema = new KendoSchema
        {
            Model = new KendoModel
            {
                Id = "id",
                Fields = new KendoFieldBase[]
                {
                    new KendoStringField("id") { Editable = false },
                    new KendoStringField("name") { DefaultValue = string.Empty },
                    new KendoStringField("code") { DefaultValue = string.Empty }
                },

            },
            Data = "items",
            Total = "count"
        },
        Transport = new KendoTransport
        {
            Read = new KendoTransportOperation
            {
                Url = Url.Action(nameof(SpecialtiesController.GetAll), SpecialtiesController.ControllerName),
                Cache = false,
                Type = "GET"
            }
        }
    };

    var columns = new KendoGridColumnBase[]
    {
        new KendoGridFieldColumn { Field = "id" },
        new KendoGridFieldColumn { Field = "code"},
        new KendoGridFieldColumn { Field = "name" }
    };


    var pageableConfiguration = new PageableConfiguration
    {
        Refresh = true
    };
}


<h2>Liste des spécialités</h2>

<div class="container">
    <div class="row">
        <div class="col-md-5 center-block">
            <a asp-action="@nameof(SpecialtyController.Create)" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus" aria-hidden="true" ></span> Nouveau 
            </a>
        </div>
    </div>

</div>

<kendo-grid asp-data-columns ="columns"
            asp-data-source ="dataSource"
            asp-data-pageable="pageableConfiguration"
            data-toolbar="[{'name' : 'create', text : 'Nouveau'}]"
            data-height ="320"
            />


