@page "/home"
@inject NavigationManager NavigationService


<Card  IsOutline="true" HeadingSize="HeadingSize.H4" Alignment="Alignment.Center">
    <CardHeader>Agenda</CardHeader>
    <CardBody CardType="CardType.Body">
        <Button Clicked="GoToAgenda"> Show next appointments</Button>
    </CardBody>
</Card>

@code{

    void GoToAgenda()
    {
        NavigationService.NavigateTo("/agenda");
    }
}