@using Blazorise.Icons.FontAwesome
<Bar Breakpoint="Breakpoint.Desktop"
     Background="Background.Light"
     ThemeContrast="ThemeContrast.Dark">
    <BarBrand>
        <BarLink To="/">MedEasy</BarLink>
    </BarBrand>
    <BarToggler />
    <BarMenu>
        <BarStart>
            <BarItem>
                <BarLink To="#home">Home</BarLink>
            </BarItem>
            <BarItem>
                <BarLink To="#docs">Documentation</BarLink>
            </BarItem>
            <BarItem>
                <BarDropdown>
                    <BarDropdownToggle>Dropdown</BarDropdownToggle>
                    <BarDropdownMenu>
                        <BarDropdownItem>Action</BarDropdownItem>
                        <BarDropdownItem>Another action</BarDropdownItem>
                    </BarDropdownMenu>
                </BarDropdown>
            </BarItem>
        </BarStart>
        <BarItem>
            <Addons>
                <Addon AddonType="AddonType.Body">
                    <TextEdit Placeholder="Search a name of a document, patient" />
                </Addon>
                <Addon AddonType="AddonType.End">
                    <Button Color="Color.Secondary"><Blazorise.Icon Name="FontAwesomeIcons.Search"/></Button>
                </Addon>
            </Addons>

        </BarItem>
        <BarEnd>
            <BarItem>
                <BarLink To="/accounts/new">Sign up</BarLink>
            </BarItem>
            <BarItem>
                <BarLink To="/login">Log in</BarLink>
            </BarItem>
        </BarEnd>
    </BarMenu>
</Bar>


@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
